<head>
  <title>{{site.title}} | {{page.title}}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css" type="text/css">
  <link rel="apple-touch-icon" sizes="57x57" href="{{site.baseurl}}/assets/css/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl}}/assets/css/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{site.baseurl}}/assets/css/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}/assets/css/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl}}/assets/css/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{site.baseurl}}/assets/css/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{site.baseurl}}/assets/css/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}/assets/css/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/css/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{site.baseurl}}/assets/css/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/css/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{site.baseurl}}/assets/css/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/css/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#00ade3">
  <link href="https://fonts.googleapis.com/css?family=Kalam:300,400|Kaushan+Script" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
