<!DOCTYPE html>
<html lang={{site.language}}>
  {% include head.html %}
  <body>
    <div id="wrapper">
      <div id="logo">&nbsp;</div>
      <h1 id="lefttitle">{{page.title}}</h1>
      <div id="table-of-contents">
          <ul id="toc">
            {% for recipe in site.posts reversed %}
                <li><a href="{{site.url}}{{site.baseurl}}{{recipe.url}}">{{recipe.title}}</a></li>
            {% endfor %}
          </ul>
      </div> <!-- /table-of-contents -->
    </div> <!-- /wrapper -->
  </body>
</html>
