<!DOCTYPE html>
<html lang="de">
  {% include head.html %}
  <body>
    <div id="wrapper">
      <h2 id="title">{{page.title}}</h2>
      {% if content contains "<!-- ad -->" %}
        <div id="ingredients">
          <h3>Zutaten für {{page.persons}} Personen:</h3>
          {{ content | split:"<!-- ad -->" | first }}
        </div> <!-- /ingredients -->
        <div id="picture">
          {% if page.image %}
            <img src="{{site.baseurl}}/assets/images/{{page.image}}" alt="Rezeptbild"/>
          {% else %}
            <img src="https://dummyimage.com/300x200/de1bde/ffffff.png" alt="Rezeptbild"/>
          {% endif %}
        </div> <!-- /picture -->

        <div id="steps">
          <h3>Zubereitung:</h3>
          {{ content | split:"<!-- ad -->" | last }}
        </div> <!-- /steps -->
      {% else %}
        {{ content }}
      {% endif %}
      <!--
      <div id="comment">
        <p>Blindtexte können bei übermäßigem Verzehr abführend wirken.</p>
      </div> -->
     <!-- /comment -->
    </div> <!-- /wrapper -->
  </body>
</html>
