<!DOCTYPE html>
<html lang={{site.language}}>
  {% include head.html %}
  <body>
    <div id="wrapper">
      {% include nav.html %}
      <h2 id="title">{{page.title}}</h2>
      {% if content contains "<!-- ad -->" %}
        <div id="ingredients">
          {% if site.language == "de" %}
            <h3>Zutaten für {{page.persons}} Personen:</h3>
          {% elsif site.language == "en" %}
            <h3>Ingredients for {{page.persons}} persons:</h3>
          {% endif %}
          {{ content | split:"<!-- ad -->" | first }}
        </div> <!-- /ingredients -->
        <div id="picture">
          {% if page.image %}
            <img src="{{site.baseurl}}/assets/images/{{page.image}}" alt="Rezeptbild"/>
          {% else %}
            <img src="https://dummyimage.com/300x200/de1bde/ffffff.png" alt="Rezeptbild"/>
          {% endif %}
        </div> <!-- /picture -->

        <div id="steps">
          {% if site.language == "de" %}
            <h3>Zubereitung:</h3>
          {% elsif site.language == "en" %}
            <h3>Preparation:</h3>
          {% endif %}
          {{ content | split:"<!-- ad -->" | last }}
        </div> <!-- /steps -->

      {% else %}
        {{ content }}
      {% endif %}
      <!--
      <div id="comment">
        <p>Blindtexte können bei übermäßigem Verzehr abführend wirken.</p>
      </div> -->
     <!-- /comment -->
     <div id="back">
       <a href="{{site.baseurl}}/">
         {% if site.language == "de" %}
           zurück zur Übersicht
         {% elsif site.language == "en" %}
           back to index
         {% endif %}
       </a>
     </div> <!-- /back -->
    </div> <!-- /wrapper -->
  </body>
</html>
